USERNAME_COMMUNITY=user
PASSWORD_COMMUNITY=password
DB_NAME=nama_database
DB_USER=user_database
DB_PASS=pass_database
DB_HOST=host_database
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=analytics
CLICKHOUSE_USER=analyst
CLICKHOUSE_PASSWORD=analyst_password
SURVEY_ID=id_survey
SURVEY_PERIOD_ID=
SURVEY_ROLE_ID=
FULLCODE_REGION_1=51
ISIAN_ALL=1
SURVEY_TABLE_NAME=surveys
REGION_GROUP_TABLE_NAME=region_groups
LEVEL_1_TABLE_NAME=level_1
LEVEL_2_TABLE_NAME=level_2
LEVEL_3_TABLE_NAME=level_3
LEVEL_4_TABLE_NAME=level_4
LEVEL_5_TABLE_NAME=level_5
LEVEL_6_TABLE_NAME=level_6
ASSIGNMENT_TABLE_NAME=assignments
ASSIGNMENT_CONTENT_TABLE_NAME=assignment_content
ALLOCATION_TABLE_NAME=allocations_by_user
